@model OpenMuseum.Backend.Models.ChangeAttachPageViewModel

<div class="modal inmodal" id="changeAttachModal" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content animated bounceInRight">
            @using (Html.BeginForm("ChangeAttach", "Region", new { id = Model.Id }, FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.OldPageId)
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Закрыть</span></button>
                    <i class="fa fa-refresh modal-icon"></i>
                    <h4 class="modal-title">Сменить привязку</h4>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Page, new { @class = "col-lg-2 col-sm-2 control-label" })
                            <div class="col-lg-6 col-sm-6">
                                @Html.DropDownListFor(model => model.PageId, (IEnumerable<SelectListItem>)ViewBag.ListOfPages, "--Выберите страницу--", new { @class = "chosen-select" })
                            </div>
                        </div>
                        </div>
                    </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">Закрыть</button>
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                </div>
            }
        </div>
    </div>
</div>