@model IEnumerable<OpenMuseum.Backend.Models.BaseLayer>
@{
    ViewBag.Title = "Base layers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <table>
                <thead>
                    <tr>
                        <td>Name</td>
                        <td>Description</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td>@item.Description</td>
                            <td>@item.Url</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>