#baselayer { 
    height: 600px; 
}

#region { 
    height: 400px; 
}

#point { 
    height: 400px; 
}

textarea.form-control {
    width: 100%;
}

iframe {
    display: block;       /* iframes are inline by default */
    border: none;         /* Reset default border */
    height: 100vh;        /* Viewport-relative units */
    width: 100vw;
}